.friendList {
    max-width: 360px;
    margin: 0 auto;
}

.item {
    padding: 25px 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.name {
    color: #000;
}

.offline {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: red;
}

.online {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: green;
}