.friend-list {
    max-width: 360px;
    margin: 0 auto;
}

.friend-list .item {
    padding: 25px 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.friend-list .name {
    color: #000;
}

.friend-list .status {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: red;
}

.friend-list .status.online {
    background: green;
}